/* -------------------------------------> INDEX */
/* 2.  NOTO KUFI ARABIC */

/* -------------------------------------> 2. NOTO KUFI ARABIC  */
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/NotoKufiArabic-Regular.eot');
  src: url('fonts/NotoKufiArabic-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/NotoKufiArabic-Regular.woff2') format('woff2'),
       url('fonts/NotoKufiArabic-Regular.woff') format('woff'),
       url('fonts/NotoKufiArabic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/NotoKufiArabic-Bold.eot');
  src: url('fonts/NotoKufiArabic-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/NotoKufiArabic-Bold.woff2') format('woff2'),
       url('fonts/NotoKufiArabic-Bold.woff') format('woff'),
       url('fonts/NotoKufiArabic-Bold.ttf') format('truetype');
}

strong {
  font-weight: 700;
}
