
.aurelia-animators {
    padding: 20px;
    list-style: none;
}

.aurelia-animators>li.au-enter {
    opacity: 0!important;
}

.aurelia-animators>li.au-enter-active {
    -webkit-animation: popIn 2s;
    animation: popIn 2s;
}

.aurelia-animators>li.au-leave-active {
    -webkit-animation: popOut 2s;
    animation: popOut 2s;
}

.aurelia-animators.au-stagger {
    -webkit-animation-delay:50ms;
    animation-delay:50ms;
}

//**************************************** Slide Transition

// router-view>section.au-enter {
//     opacity: 0!important;
// }

.move-forward {
    router-view>section.au-enter-active {
        background-color: #FFF;
        -webkit-animation: popInRight 0.3s;
        animation: popInRight 0.3s;
    
        // &#page-home {
        //     -webkit-animation: popInLeft 0.5s;
        //     animation: popInLeft 0.5s;
        // }
    }
}


.move-back {

    router-view>section.au-enter-active {
        background-color: #FFF;
        -webkit-animation: popInLeft 0.3s;
        animation: popInLeft 0.3s;
    }
}

// router-view>section.cha {
//     -webkit-animation: goToBG 0.8s;
//     animation: goToBG 0.8s;
// }

.move-forward {
    router-view>section.au-leave-active {
        background-color: #FFF;
        position: absolute;
        left: 0px;
        -webkit-animation: popOutLeft 0.3s;
        animation: popOutLeft 0.3s;
    }
}

.move-back {

    router-view>section.au-leave-active {
        background-color: #FFF;
        position: absolute;
        left: 0px;
        -webkit-animation: popOutRight 0.3s;
        animation: popOutRight 0.3s;
    }
}

/* CSS3-Animations */
@-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes goToBG {
    0%   { opacity: 1; }
    100% { opacity: 0.5; }
}

@keyframes goToBG {
    0%   { opacity: 1; }
    100% { opacity: 0.5; }
}

/* CSS3-Animations */
@-webkit-keyframes popInRight {
    0%   { transform: translate3d(100%, 0, 0); box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.4); }
    100% { transform: translate3d(0, 0, 0); box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.4); }
}

@keyframes popInRight {
    0%   { transform: translate3d(100%, 0, 0); box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.4); }
    100% { transform: translate3d(0, 0, 0); box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.4); }
}

@-webkit-keyframes popInLeft {
    0%   { transform: translate3d(-100%, 0, 0); box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4); }
    100% { transform: translate3d(0, 0, 0); box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4); }
}

@keyframes popInLeft {
    0%   { transform: translate3d(-100%, 0, 0); box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4); }
    100% { transform: translate3d(0, 0, 0); box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4); }
}

@-webkit-keyframes popOutLeft {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-30%); }
}

@keyframes popOutLeft {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-30%); }
}

@-webkit-keyframes popOutRight {
    0%   { transform: translateX(0); }
    100% { transform: translateX(30%); }
}

@keyframes popOutRight {
    0%   { transform: translateX(0); }
    100% { transform: translateX(30%); }
}
