<!-- Custom Elements - Checkout -->
<!-- <link rel="import" href="../../../shared/components/input-suggest-element/input-suggest-element.html"> -->
<link rel="import" href="../../../shared/components/legacy-login-element/legacy-login-element.html">
<link rel="import" href="../../../shared/components/new-address-element/new-address-element.html">
<link rel="import" href="../../../shared/components/gifting-element/gifting-element.html">
<link rel="import" href="../../../shared/components/id-document-upload-element/id-document-upload-element.html">
<link rel="import" href="../../../shared/components/validation-form-fields/validation-form-fields.html">

<!-- SHIPPING -->
<link rel="import" href="../../../shared/components/address-book-element/address-book-element.html">

<!-- PAYMENT -->
<link rel="import" href="../../../shared/components/checkout-payment-prepay-element/checkout-payment-prepay-element.html">
<link rel="import" href="../../../shared/components/checkout-payment-cod-element/checkout-payment-cod-element.html">
