<!-- Custom Elements - Details -->
<link rel="import" href="../elements/pdp-core-details-element/pdp-core-details-element.html">
<link rel="import" href="../elements/pdp-support-details-element/pdp-support-details-element.html">
<link rel="import" href="../elements/product-specs-feature-element/product-specs-feature-element.html">
<link rel="import" href="../elements/multiseller-element/multiseller-element.html">
<link rel="import" href="../elements/product-reviews-element/product-reviews-element.html">
<link rel="import" href="../elements/pdp-carousel-element/pdp-carousel-element.html">
<link rel="import" href="../elements/pdp-seller-info-element/pdp-seller-info-element.html">
