<!-- Custom Elements -->
<link rel="import" href="../../../shared/components/products-carousel-element/products-carousel-element.html">
<link rel="import" href="../../../shared/components/search-element/search-element.html">
<link rel="import" href="../../../shared/components/small-nav-element/small-nav-element.html">
<link rel="import" href="../../../shared/components/signup-element/signup-element.html">
<link rel="import" href="../../../shared/components/newsletter-signup-element/newsletter-signup-element.html">
<link rel="import" href="../../../shared/components/cart-button-element/cart-button-element.html">
<link rel="import" href="../../../shared/components/carousel-element/carousel-element.html">
<link rel="import" href="../../../shared/components/banner-element/banner-element.html">
<link rel="import" href="../../../shared/components/products-listing-element/products-listing-element.html">
<link rel="import" href="../../../shared/components/info-element/info-element.html">
<link rel="import" href="../../../shared/components/notifications-element/notifications-element.html">
<link rel="import" href="../../../shared/components/messaging-element/messaging-element.html">
<link rel="import" href="../../../shared/components/facets-element/facets-element.html">
<link rel="import" href="../../../shared/components/footer-info-element/footer-info-element.html">
<link rel="import" href="../../../shared/components/timer-element/timer-element.html">
<link rel="import" href="../../../shared/components/category-links-element/category-links-element.html">
<link rel="import" href="../../../shared/components/forget-password-element/forget-password-element.html">
<link rel="import" href="../../../shared/components/validation-email/validation-email.html">
<link rel="import" href="../../../shared/components/validation-email/validation-password.html">
<link rel="import" href="../../../shared/components/country-language-switcher-element/country-language-switcher-element.html">
<link rel="import" href="../../../shared/components/no-product-results-element/no-product-results-element.html">
<link rel="import" href="../../../shared/components/tabbed-links-element/tabbed-links-element.html">
<link rel="import" href="../../../shared/components/tabbed-pages-element/tabbed-pages-element.html">
<link rel="import" href="../../../shared/components/usps-element/usps-element.html">
<link rel="import" href="../../../shared/components/app-download-element/app-download-element.html">
<link rel="import" href="../../../shared/components/promotional-campaign-element/promotional-campaign-element.html">
<link rel="import" href="../../../shared/components/validation-phone/validation-phone.html">
<link rel="import" href="../../../shared/components/validation-phone-number/validation-phone-number.html">
<link rel="import" href="../../../shared/components/phone-verification-element/phone-verification-element.html">

<!--<link rel="import" href="../../../shared/components/login-element/login-element.html">-->
<!--<link rel="import" href="../../../shared/components/cart-review-element/cart-review-element.html">-->
<!--<link rel="import" href="../../../shared/components/draggable-element/draggable-element.html">-->
