/* -------------------------------------> INDEX */
/* 0.  CORE */
/* 1.  APP OVERRIDES */
/* 2.  SHARED ELEMENTS */
/* 3.  CHECKOUT TIMELINE */
/* 4.  PHONE VERIFICATION */
/* 5.  ADD NEW ADDRESS - SHIPPING/BILLING */
/* 6.  SIGN IN STEP */
/* 7.  SHIPPING STEP */
/* 8.  SUMMARY STEP */
/* 9.  PAYMENT STEP */
/* 10. SUCCESS */


/* -------------------------------------> 0. CORE */
.section-checkout {
	background-color: $color-bg-support-light;

	&.app-banner-showing {
		padding-bottom: 0 !important;
	}
}

#page-checkout {
	.checkout-area {
		border-top: 1px solid $color-border;
		border-bottom: 1px solid $color-border;
		padding: 15px;
		font-size: 15px;
		background-color: $color-bg-primary;
		margin-bottom: 25px;
	}

	h2,
	p.title {
		color: $color-body-dark;
		font-size: 16px;
		margin-bottom: 10px;
	}

	.checkout-area  p.title:first-child {
		margin-top: -2px;
	}

	.step-overview {
		margin-bottom: 15px;
		display: flex;
		align-items: flex-start;

		> p {
			@include mx-text-ellipsis;
			flex: 1;
			margin-right: 15px;
		}

		.value {
			color: $color-body-dark;
		}

		button {
			color: $color-primary;
			font-size: 14px;
			text-decoration: underline;
		}
	}

	.checkout-highlight-memo,
	.highlight-memo,
	.messages-container {
		@include mx-background-transparency($color-primary, 0.1);
		padding: 8px 10px 9px;
		margin-bottom: 15px;
		border-radius: 4px;

		p a {
			font-weight: 700;
			text-decoration: underline;
			color: $color-body-dark;
		}

		strong.value {
			color: $color-body-dark;
		}

		strong.highlight {
			color: $color-primary;
		}

		span.terms {
			color: $color-body-light;
			display: block;
			font-size: 12px;
			margin-top: 10px;
		}
	}

	.single-memo-container {
		.checkout-highlight-memo {
			margin: -5px 0;
		}
	}

	// MAIN CTA
	.step-cta-container {
		padding: 10px 15px !important;
		margin-bottom: 0;

		&.top {
			margin-bottom: 25px;
		}
	}
}

.ar #page-checkout {
	.step-overview {
		> p {
			margin-left: 15px;
			margin-right: 0;
		}
	}
}

/* -------------------------------------> 1. APP OVERRIDES */
.in-app {
	#wrapper {
		&.android {
			margin-bottom: 300px;
		}
	}

	#site-header {
		display: none;
	}
}

.in-app .section-checkout {
	#site-header {
		display: none;
	}

	#page-checkout {
		margin-top: 39px;

		ul.checkout-timeline {
			position: fixed;
			top: 0; left: 0; right: 0;
			background-color: $color-bg-support-light;
			border-bottom: 1px solid $color-border;
			z-index: 10;
		}
	}

	#checkout-step-shipping {
		&.android-app-form {
			margin-bottom: 300px;
		}
	}

	&.section-success {
		#page-checkout {
			margin-top: 0;
		}
	}
}

/* -------------------------------------> 2. SHARED ELEMENTS */
#page-checkout {
	.input-field,
	.input-row-wrapper,
	forget-password-element .input-container {
		margin-bottom: 40px;

		label {
			margin-bottom: 4px;
			display: block;

			span.support {
				color: $color-body-light;
			}

			&.custom-checkbox-label,
			&.custom-radio-label {
				margin-bottom: 0;
			}
		}
	}

	.input-row {
		display: flex;
		margin-left: -15px;

		.input-field {
			margin-bottom: 0;
		}

		.input-column {
			padding-left: 15px;
			box-sizing: border-box;

			&.one-half {
				width: 50%;
			}
		}
	}

	p.required-fields-message {
		color: $color-body-light;
		font-size: 13px;
		text-align: right;
		margin-top: 25px;
	}

	// CUSTOM RADIO/CHECKBOXES
	.custom-radio-label,
	.custom-checkbox-label {
		color: $color-body;
		font-size: 15px;
		line-height: 20px;
	}

	.radio-options-container {
		display: flex;

		.custom-radio-container + .custom-radio-container {
			margin-left: 25px;
		}
	}

	// SLIGHTLY SMALLER CHECKBOXES FOR LESS EMPHASIS
	#checkout-step-confirm .default-shipping,
	#checkout-step-payment .billing-address-trigger,
	#checkout-step-payment .newsletter-subscription-container,
	phone-verification-element .proceed-option {
		.custom-checkbox-label {
	        line-height: 16px;
			font-size: 14px;

			.label-text {
		        padding-left: 23px;
		    }

		    .check-indicator {
		        &:before {
					width: 13px; height: 13px;
					top:2px;
		        }

		        &:after {
					width: 10px;
					height: 10px;
					content: '\2713';
					background-color: transparent;
					font-size: 18px;
					top: 2px;
					left: 1px;
					color: #0FB0AA;
		        }
		    }
		}
	}

	.ar .custom-checkbox-label {
		    .check-indicator {
		        &:after {
					right: -1px;
					left: auto;
		        }
		    }
		}

	// CUSTOM SELECT
	form .custom-select-container {
		font-size: 14px;

		select {
			height: 30px;
		}
	}

	// PHONE NUMBER WITH FLAG
	.checkout-contact-number {
		position: relative;

		&:before {
			content: "";
			width: 37px;
			border-right: 1px solid $color-border;
			background-color: $color-bg-primary;
			position: absolute;
			top: 1px; left: 1px; bottom: 1px;
		}

		&:after {
			content: "";
			width: 20px; height: 20px;
			@include mx-sprite;
			background-position: 0 -148px;
			position: absolute;
			left: 9px; top: 50%;
			margin-top: -10px;
		}

		&.sa:after { background-position: -21px -148px; }

		> input {
			padding-left: 46px;
		}
	}

	// DEFAULT ADDRESS TAG
	span.address-tag {
		text-transform: uppercase;
		display: inline-block;
		border: 1px solid $color-border;
		background-color: $color-bg-support-light;
		padding: 5px 8px 3px;
		font-size: 11px;
		letter-spacing: 0.02em;
		pointer-events: none;
		color: $color-body-dark;
	}

	// INVOICE
	.cart-invoice-container {
		background-color: $color-bg-tertiary;
		padding: 10px 15px;
		border-radius: 2px;
	}

	ul.cart-invoice {
		margin: 0 auto;
		width: 256px;

		> li {
			@include clearfix;
			margin-top: 3px;

			&.total {
				color: $color-body-dark;
				font-size: 16px;
				font-weight: 700;
				border-top: 1px solid $color-border;
				margin-top: 6px;
				padding-top: 6px;
			}
		}

		.heading {
			float: left;
		}

		.value {
			float: right;

			&.free {
				color: $color-body-attention;
			}

			&.discount {
				color: $color-body-attention;
			}
		}
	}
}

.ar #page-checkout {
	p.required-fields-message {
		text-align: left;
	}

	// CUSTOM RADIO/CHECKBOXES
	.radio-options-container {
		.custom-radio-container + .custom-radio-container {
			margin-right: 25px; margin-left: 0;
		}
	}

	// SLIGHTLY SMALLER CHECKBOXES FOR LESS EMPHASIS
	#checkout-step-confirm .default-shipping,
	#checkout-step-payment .billing-address-trigger,
	#checkout-step-payment .newsletter-subscription-container,
	phone-verification-element .proceed-option {
		.custom-checkbox-label {
			.label-text {
		        padding-right: 23px;
		        padding-left: 0;
		    }
		}
	}

	// PHONE NUMBER WITH FLAG
	.checkout-contact-number {
		&:before {
			right: 1px; left: auto;
			border-left: 1px solid $color-border;
			border-right: 0;
		}

		&:after {
			right: 9px; left: auto;
		}

		> input {
			padding-right: 46px;
			padding-left: 8px;
		}
	}

	// DEFAULT ADDRESS TAG
	span.address-tag {
		letter-spacing: 0;

	}

	// INVOICE
	ul.cart-invoice {
		.heading {
			float: right;
		}

		.value {
			float: left;
		}
	}
}

/* -------------------------------------> 3. CHECKOUT TIMELINE */
ul.checkout-timeline {
	text-align: center;
	font-size: 0;
	padding: 12px 0 10px;

	li {
		display: inline-block;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.04em;
		font-weight: 700;
		color: $color-body-dark;
		text-decoration: line-through;

		&:before {
			text-decoration: none;
		}

		+ li {
			&:before {
				content: "\E80C";
				font-family: wadicons;
				margin: 0 2px 0 6px;
				color: $color-body-light;
				font-size: 12px;
				display: inline-block;
			}
		}

		&.current {
			font-weight: 700;
			color: $color-primary;
			text-decoration: none;

			// NOT YET COMPLETE
			~ li {
				text-decoration: none;
				color: $color-body-light;
				font-weight: 400;
			}
		}
	}
}

.ar ul.checkout-timeline {
	li {
		letter-spacing: 0;

		+ li {
			&:before {
				content: "\E80B";
				margin: 0 6px 0 2px;
			}
		}
	}
}

/* -------------------------------------> 4. PHONE VERIFICATION */
phone-verification-element {
	margin: 0 -15px;

	// CORE LAYOUT
	.phone-verification-wrapper {
		@include legacy-pie-clearfix;
		width: 200%;
		@include transition(all ease-in-out 0.4s);

		&.otp-sent-true {
			margin-left: -100%;
		}
	}

	.phone-verification-step {
		float: left;
		width: 50%;
		padding: 0 15px;
		box-sizing: border-box;
	}

	.verification-code-helper {
		font-size: 14px;
		margin-bottom: 12px;

		i {
			margin-left: 4px;
			color: $color-primary;
		}
	}

	// MAKE SURE PHONE NUMBER IS ALWAYS RIGHT WAY IN ARABIC
	.step-overview {
		.value {
			direction: ltr;
			display: inline-block;
		}
	}

	// RESEND CODE
	.resend-option {
		margin-top: 20px;
		font-size: 14px;

		.highlight {
			background-color: $color-bg-tertiary;
			border-radius: 4px;
			padding: 8px 10px 9px;

			.resend-countdown {
				display: flex;

				timer-element {
					margin-left: 6px;
					color: $color-body-dark;
				}
			}

			p {
				color: $color-body-dark;

				a {
					color: $color-primary;
					text-decoration: underline;
				}
			}
		}
	}

	// PROCEED WITHOUT VERIFYING
	.proceed-option {
		margin-top: 15px;

		p {
			margin: 6px 0 15px;
			color: $color-body-attention;
			font-size: 14px;
		}
	}
}

.ar phone-verification-element {
	// CORE LAYOUT
	.phone-verification-wrapper {
		&.otp-sent-true {
			margin-right: -100%;
			margin-left: 0;
		}
	}

	.phone-verification-step {
		float: right;
	}

	.verification-code-helper {
		i {
			margin-right: 4px; margin-left: 0;
		}
	}

	// RESEND CODE
	.resend-option {
		.highlight {
			.resend-countdown {
				timer-element {
					margin-right: 6px; margin-left: 0;
				}
			}
		}
	}
}

// SIGN IN STEP VARIATIONS
#checkout-step-signup {
	.phone-verification-step {
		&.otp-sent-step {
			margin-top: -34px;
			background-color: $color-bg-primary;
			position: relative; // Z-INDEX
		}
	}
}


// SHIPPING STEP VARIATIONS
new-address-element {
	.phone-number-wrapper {
		// border-top: 1px dotted $color-border;
		// padding-top: 18px;

		.checkout-highlight-memo > p {
			span {
				position: relative;
				padding-left: 26px;
				display: inline-block;
				// margin-bottom: 6px;

				&:before {
					content: "\E801";
					font-family: wadicons;
					position: absolute;
					top: 3px; left: 0;
					font-size: 20px;
					color: $color-body-light;
				}
			}

			> a {
				color: $color-body-dark;
				display: inline-block;
				text-decoration: underline;

				i {
					margin-right: 4px;
				}
			}
		}

		phone-verification-element {
			margin-top: 15px;

			.resend-option {
				margin-top: 0;
			}
		}


		// TEMPORARY FIX
		phone-verification-element {
			// CORE LAYOUT
			.phone-verification-wrapper {
				width: 100%;
				margin: 0 !important;
			}

			.phone-verification-step {
				display: none;

				&.otp-sent-step {
					display: block;
					width: 100%;

					.step-overview {
						@include mx-background-transparency($color-primary, 0.1);
						padding: 8px 10px 9px !important;
						border-radius: 4px;

						p {
							&:before {
								content: "\E801";
								font-family: wadicons;
								margin-right: 6px;
								color: $color-body-light;
							}
						}
					}

					.step-overview button {
						display: none;
					}
				}
			}
		}
	}
}

.ar new-address-element {
	.phone-number-wrapper {
		.checkout-highlight-memo > p {
			span {
				padding-right: 26px; padding-left: 0;

				&:before {
					right: 0; left: auto;
				}
			}

			> a {
				i {
					margin-left: 4px;
					margin-right: 0;
				}
			}
		}
	}

	// TEMPORARY FIX
	phone-verification-element {
		.phone-verification-step {
			&.otp-sent-step {
				.step-overview {
					p {
						&:before {
							margin-left: 6px; margin-right: 0;
						}
					}
				}
			}
		}
	}
}

/* -------------------------------------> 5. ADD NEW ADDRESS - SHIPPING/BILLING */
new-address-element {
	.return-trigger-container {
		border-top: 1px solid $color-border;
		border-bottom: 1px solid $color-border;
		margin: -16px -15px 15px;
		padding: 12px 15px 11px;

		a {
			display: block;

			&:before {
				content: "\E80B";
				font-family: wadicons;
				margin-right: 6px;
			}
		}
	}

	.single-line-form {
		display: flex;

		.input-field {
			flex: 1;
		}

		.submit-field {
			margin-top: 23px;
			margin-left: 10px;
		}

		&.no-label {
			.submit-field {
				margin-top: 0;
			}
		}
	}

	.cta-container {
		margin-top: 20px;
	}
}

.ar new-address-element {
	.return-trigger-container {
		a {
			&:before {
				content: "\E80C";
				margin-left: 6px;
				margin-right: 0;
			}
		}
	}

	.single-line-form {
		.submit-field {
			margin-right: 10px;
			margin-left: 0;
		}
	}
}

// BILLING
#checkout-step-payment {
	new-address-element {
		margin-top: 15px;
		border-top: 1px dotted $color-border;
		padding-top: 15px;
	}
}

/* -------------------------------------> 6. SIGN IN STEP */
#checkout-step-signup {
	signup-element {
		margin-bottom: 10px;

		// SOCIAL LOGIN SECTION
		.social-option-wrapper {
			border-bottom: 1px solid $color-border;
			margin-bottom: 15px;
			padding-bottom: 23px;
		}

		forget-password-element {
			a.option {
				font-size: 14px;
			}

			form.forget-password-element {
		      padding-top: 15px;
		    }
		}
	}

	// PROCEED TO SHIPPING LINK
	a.proceed-to-shipping {
		margin-bottom: 10px;
	}

	// COUPON REMINDER MESSAGE
	p.coupon-reminder-message {
		font-size: 14px;
		position: relative;
		padding-left: 28px;

		&:before {
			content: "\E828";
			font-family: wadicons;
			position: absolute;
			font-size: 18px;
			top: 2px; left: 0;
			color: $color-body-light;
		}
	}
}

.ar #checkout-step-signup {
	// COUPON REMINDER MESSAGE
	p.coupon-reminder-message {
		padding-right: 28px;
		padding-left: 0;

		&:before {
			right: 0; left: auto;
		}
	}
}


/* -------------------------------------> 7. SHIPPING STEP */
#checkout-step-shipping {
	// GIFT WRAP
	.gift-wrap-option {
		.custom-checkbox-label {
			position: relative;
			padding-right: 30px;
			line-height: 1.3;

			.check-indicator:before {
				top: 2px;
			}

			.check-indicator:after {
				top: 5px;
			}
		}

		.wadicon-gift {
			position: absolute;
			top: 0; right: 0;
			font-size: 20px;
		}
	}

	#giftMessage {
		padding-top: 10px;
	}

	p.gift-message-counter {
		text-align: right;
		margin-top: 6px;
		font-size: 14px;
	}

	// ADDRESSES
	address-book-element {
		// NEW ADDRESS BUTTON
		.new-address-trigger {
			position: relative;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			font-size: 13px;

			&:before {
				content: "\E812";
				font-family: wadicons;
				margin-right: 6px;
				position: relative;
				top: -1px;
			}
		}

		header {
			position: relative;

			p.title {
				line-height: 24px;
				margin-bottom: 13px;
			}

			.cta-container {
				position: absolute;
				top: 0; right: 0;

				.new-address-trigger {
					height: 24px;
				}
			}
		}
	}

	// EXISTING ADDRESSES
	ul.address-book {
		margin: 0 -15px;
		border-top: 1px solid $color-border;

		li {
			position: relative;

			&.default-address {
				border-bottom: 1px dotted $color-border;
			}

			+ li {
				border-top: 1px dotted $color-border;
			}

			.address-tag {
				position: absolute;
				top: -1px; right: -1px;
				border-radius: 0 0 0 2px;
			}
		}

		.custom-radio-label {
			display: block;
			line-height: 1.3;

			.label-text {
				padding: 10px 15px 10px 43px;
			}

			input:checked + .label-text {
				background-color: $color-bg-tertiary;
			}

			.check-indicator:before {
				top: 30px; left: 15px;
			}

			.check-indicator:after {
				top: 33px; left: 18px;
			}

			span.label-text span {
				display: block;

				&.name {
					font-weight: 700;
					color: $color-body-dark;
				}

				&.contact-number {
					margin-top: 4px;

					&:before {
						content: "\E801";
						font-family: wadicons;
						margin-right: 6px;
					}
				}
			}

			// MOVE TO PAYMENT BUTTON
			.cta-container {
				padding: 2px 15px 18px 43px;
				background-color: $color-bg-tertiary;
				display: none;
			}

			input:checked ~ .cta-container {
				display: block;
			}

		}

		// BOTTOM ADD NEW ADDRESS
		+ .cta-container {
			margin: 0 -15px -15px;
    		text-align: center;
			border-top: 1px solid $color-border;

			button {
				width: 100%;
				padding: 15px 0;
			}
		}
	}
}

.ar #checkout-step-shipping {
	// GIFT WRAP
	.gift-wrap-option {
		.custom-checkbox-label {
			padding-left: 30px;
			padding-right: 0;
		}

		.wadicon-gift {
			left: 0; right: auto;
		}
	}

	p.gift-message-counter {
		text-align: left;
	}

	// ADDRESSES
	address-book-element {
		// NEW ADDRESS BUTTON
		.new-address-trigger {
			letter-spacing: 0;

			&:before {
				margin-left: 6px;
				margin-right: 0;
			}
		}

		header {
			.cta-container {
				left: 0; right: auto;
			}
		}
	}

	ul.address-book {
		li {
			.address-tag {
				left: -1px; right: auto;
				border-radius: 0 0 2px 0;
			}
		}

		.custom-radio-label {
			.label-text {
				padding: 10px 43px 10px 15px;
			}

			.check-indicator:before {
				right: 15px; left: auto;
			}

			.check-indicator:after {
				right: 18px; left: auto;
			}

			// MOVE TO PAYMENT BUTTON
			.cta-container {
				padding: 2px 43px 18px 15px;
			}
		}
	}
}

/* -------------------------------------> 8. SUMMARY STEP */
#checkout-step-confirm {
	.checkout-area {
		padding-bottom: 0;
	}

	p.shipping-address {
		position: relative;
		margin-right: -38px; // width of edit button
		margin-top: 8px;

		span {
			&.name {
				font-weight: 700;
				color: $color-body-dark;
				display: block;
			}

			&.contact-number {
				margin-top: 4px;
				display: block;

				&:before {
					content: "\E801";
					font-family: wadicons;
					margin-right: 6px;
				}
			}
		}
	}

	// ADDRESS DEFAULT OPTIONS
	.default-shipping {
		margin-top: 12px;
	}

	.address-tag {
		border-radius: 2px;
		margin-bottom: 8px;
	}
}

.ar #checkout-step-confirm {
	p.shipping-address {
		margin-left: -51px; // width of edit button
		margin-right: 0;
	}
}

/* -------------------------------------> 9. PAYMENT STEP 	*/
#checkout-step-payment {

	// payment-options-list
	ul.payment-options-list {
		border-top: 1px solid $color-border;
		background: #fff;

		li {
			position: relative;
			background: $color-bg-primary;
			

			&.default-address {
				border-bottom: 1px dotted $color-border;
			}

			+ li {
				border-top: 1px solid $color-border;
			}

			.address-tag {
				position: absolute;
				top: -1px; right: -1px;
				border-radius: 0 0 0 2px;
			}

			&:first-child {
				margin-bottom: 0px;
				// border-bottom: 1px solid $color-border;
			}
		}
		
		.custom-radio-container {
			height: 70px;
			line-height: 70px;

			&.disabled-true {
				//background-color: #ddd;
				color: #aaa;
				border-color: #ddd;
				pointer-events: none;
				opacity: 0.3;
			}

			.custom-radio-label {
				margin-left: 10px;
				width: 100%;
				margin-top: 10px;
				margin-bottom: 10px;
				
				.check-indicator:after {
					border-radius: 25%;
					background-color: #0FB0AA;
					top: 5px;
				}
				
				.check-indicator:before {
					border-radius: 25%;
					top:2px;
				}			
			}
		}
	}


	.payment-helper-message {
		margin-bottom: 0;
	}

	// PAYMENT OPTIONS
	.payment-options-wrapper {
		padding: 0;
		border-top: 0;
		background-color: transparent;
	}

	ul.options {
		@include clearfix;

		li {
			float: left;

			&:first-child {
				a {
					border-radius: 4px 0 0 0;
				}
			}
		}

		a {
			border: 1px solid $color-border;
			border-bottom: 0;
			text-align: center;
			border-radius: 0 4px 0 0;
			display: block;
			background-color: $color-bg-primary;
			padding: 10px 15px 9px;
			font-size: 15px;
			position: relative;

			&.active {
				background-color: $color-primary;
				color: $color-body-alt;
				border-color: $color-primary;
			}

			&.disabled-true {
				background-color: #ddd;
				color: #aaa;
				border-color: #ddd;
				pointer-events: none;
			}
		}
	}

	.back-to-cards {
		padding: 5px 15px;
		cursor: pointer;
		color:#0FB0AA;

		&:before {
			content: "\E80B";
			font-family: wadicons;
			margin-right: 6px;
		}
	}

	.collapsible-area {
		padding: 15px 15px 20px;
		border-top: 2px solid $color-primary;
		border-bottom: 1px dotted $color-border;
		background-color: $color-bg-secondary;

		&.hidden {
			display: none;
		}
	}

	// CC STUFF
	.card-logo-container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.billing-address-trigger {
		margin-bottom: 10px;
	}

	.card-logo {
		@include mx-sprite;
		display: block;

		&.mastercard {
			width: 78px;
			height: 50px;
			background-position: -77px 0px;
			background-size: auto;
		}

		&.visa {
			width: 77px;
			height: 48px;
			background-position: 0px 0px;
			background-size: auto;
		}
	}

	// COD
	.checkout-payment-cod-container {
		p + p {
			margin-top: 12px;
		}

		span {
			color: $color-primary;
			font-size: 14px;
			text-decoration: underline;
		}
	}

	// NEWSLETTER SUBSCRIPTION
	.newsletter-subscription-container {
		background-color: $color-bg-primary;
		padding: 15px;

		.custom-checkbox-label {
		    line-height: 1.3;

		    .check-indicator {
		    	&:before {
		    		top: 2px;
		    	}

		    	&:after {
		    		top: 5px;
		    	}
		    }
		}
	}

	// CART REVIEW OVERRIDES FOR CHECKOUT ONLY
	cart-review-element {
		ul.cart-products {
			padding: 0;
			margin: 0 -15px;
		}

		li.cart-product {
			padding: 12px 15px 11px;
			font-size: 13px;
			border: 0;
			border-top: 1px dotted $color-border;

			&:first-child {
				border-top: 0;
				padding-top: 0;

				button.cart-product-remove {
					padding-top: 0;
				}
			}

			+ li {
				margin-top: 0;
			}

			button.cart-product-remove {
				padding: 12px 15px;
			}

			// IMAGE CONTAINER
			.image-container {
				width: 12%;
				margin-top: 3px;
			}

			// DETAILS CONTAINER
			.details-container {
				width: 88%;
			}

			p.cart-price {
				margin: 15px 0 0;
			}

			// DELIVERY ESTIMATE AND GIFT
			.support-info-container {
				display: none;
			}
		}
	}


	// COUPON & INVOICE
	coupon-code-element {
		margin: 0 -15px;
		padding: 10px 15px;
		border-bottom: 1px solid $color-border;
	}

	.cart-invoice-container {
		margin: 10px 0 -5px;
	}

	// SAVED CARD LIST
	ul.card-list {
		margin: 0 auto;

		li {
			//padding-bottom: 15px;
			position: relative;
			
			&:first-child {
				margin-bottom: 0px;
				border-bottom: none;
				border-top: 2px solid #0FB0AA;
			}

			&.default-address {
				border-bottom: 1px solid $color-border;
			}

			&.disabled-true {
				//background-color: #ddd;
				color: #aaa;
				border-color: #ddd;
				opacity: 0.5;

				.expired-message {
					margin: 0 0 0 4%;
					float: left;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					z-index: 10;
					color: $color-body-attention;
					// width: 30%;
					text-align: center;
					font-size: 13px;
					font-weight: 600;
					font-style: italic;
					padding-top:15px;
				}
			}

			+ li {
				//border-bottom: 1px solid $color-border;
			}
		}

		.cvv-container {
			input {
				font-weight: normal;
				font-size: 12px;
			}
		}

		.custom-radio-container {

			.custom-radio-label {
				display: block;
				line-height: 1.3;
				margin-left: 10px;
				margin-right: 10px; 
				width: auto;

				.card-details-container {
					position: relative;
					@include clearfix;
					height: 60px;
					
					.card-logo-container{
						height: 100%;
						display: flex;
						float:left;
						// margin-right: 20px;
						// margin-left: 10px;
						position: relative;
						margin-top: 5px;
						margin-bottom: 5px;
						width: 80px;

						.card-logo {
							display: block;
							@include transform(scale(0.75, 0.75));							
						}
					}
					
					.card-details {
						margin: 5px auto;
						float:left;
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;

						.card-number-display {
							font-size: 12px;
							letter-spacing: 1px;
						}

						.card-label {
							font-weight: bold;	
							color: $color-body-dark;

							span {
								font-weight: 100;
								opacity: 0.6;
							}
						}
					}

					.icon-container {
						display: flex;
						justify-content: center;
						height: 100%;
						//float: right;
						flex-direction: column;
						margin: 5px 0;
						position: absolute;
						right: 0px;
					}
				}

				.input-row-wrapper {
					margin-top: 10px;
					margin-bottom: 0;
					display: none;
					// margin-left: 30px;

					.input-row {
						margin-left: 65px;

						.heading {
							font-weight:bold;
						}
						.two-third {
							width: 70px;
						}

						.input-field {
							
							.input-container {
								p {
									white-space: nowrap;
									font-weight: 100;
								}
							}
						}
					}
				}
			}
		}

		.add-new-card {
			padding-top: 0px;
			padding-bottom: 0px;
			background-color: #fff;
			border-top: 1px solid #f3f3f3;
			border-bottom: 1px solid #f3f3f3;
			height: 70px;
			line-height: 70px;
		}
	
		.active {
			background-color: $color-bg-secondary;
			height: 125px;

			.custom-radio-container {
				
				.custom-radio-label {
					
					.input-row-wrapper {
						display: block;
					}
				}
			}
		}

		.btn-add-card {
			width: 88%;
			margin: 0px auto;	
			
			button {
				color: #0FB0AA;
				font-size: 14px;
				text-decoration: none;
			}
		}
	}

	.checkout-area-wallet {
		background-color: $color-bg-tertiary;
		padding: 10px;
		margin-bottom: 20px;
		border-top: 1px solid $color-border;
		border-bottom: 1px solid $color-border;

		.wallet-container {
			background-color: transparent;

			.wallet-money {
				color: $color-body-dark;
				font-weight: 700;
				font-size: 16px;
			}

			.icon-info {
				padding: 8px;
				font-size: 14px;
				font-weight: 900;
				color: $color-primary;
			}

			.check-indicator::after {
				background-color: $color-primary;
			}
		}

		.info {
			padding: 10px 0;
			font-size: 14px;
		}
	}

	.loyalty-message {
		background-color: $color-bg-primary;
		color: $color-primary;

		.info {
			text-align: center;
		}
	}

	.top-summary {

		.cart-total {
			overflow: hidden;
			padding: 0 25px;

			.heading {
				float: left;
				font-size: 15px;
			}
	
			.value {
				float: right;
				font-weight: 600;
				text-align: right;
				font-size: 15px;
				color:$color-body-dark;

				&:after {
					content: '\e80d';
					font-family: wadicons;
					margin-left: 6px;
					font-size: 14px;
					font-weight: normal;
				}
			}

			&.true {
				.value {
					&:after {
						content: '\e80a';
					}
				}
			}

			.cart-invoice-container {
				margin-top: 0;
			}
		}
	}

	.payment-options-list {
		
		.payment-helper-message {
			border-top: 0;
			padding-top: 0;
		}
	}
}

.ar #checkout-step-payment {
	ul.options {
		li {
			float: right;

			&:first-child {
				a {
					border-radius: 0 4px 0 0;
				}
			}
		}

		a {
			border-radius: 4px 0 0 0;
			font-size: 13px;
			padding-left: 10px;
			padding-right: 10px;

			@media only screen and (min-width: 375px) {
				font-size: 14px;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	// SAVED CARD LIST
	ul.card-list {

		.custom-radio-container {

			.custom-radio-label {
				margin-right: 10px;
				margin-left: 10px;

				span.label-text span {

					&.contact-number {

						&:before {
							margin-right: 0px;
							margin-left: 6px;
						}
					}
				}

				.card-details-container {
					
					.card-logo-container{
						float:right;
						// margin-right: 10px;
						// margin-left: 20px;
					}
					
					.card-details {
						float:right;
					}

					.icon-container {
						//float: left;
						right: auto;
						left: 0
					}
				}

				.input-row-wrapper {
					// margin-right: 30px;
					// margin-left: 0px;

					.input-row {
						margin-right: 65px;
						margin-left: 0px;

						.input-column {
							padding-right: 15px;
							padding-left: 0px;
						}
					}
				}
			}
		}

		li {

			&.disabled-true {

				.expired-message {
					float: right;
					margin: 0 4% 0 0;			
				}
			}				
		}
	}

	.back-to-cards {

		&:before {
			content: "\E80C";
		}
	}

	ul.payment-options-list {
		.custom-radio-label {
			margin-left: 0px;
			margin-right: 10px;
		}			
	}

	.top-summary {

		.cart-total {

			.heading {
				float: right;
			}
	
			.value {
				float: left;
				text-align: left;

				&:after {
					margin-right: 6px;
					margin-left: 0;
				}
			}
		}
	}
}

#checkout-step-payment {
	checkout-payment-prepay-element {
		ul.card-list {
			.custom-radio-container {
				.custom-radio-label {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}

/* -------------------------------------> 10. SUCCESS */
#checkout-step-success {
	background-color: $color-bg-primary;
	padding: 10px 15px 30px;

	.illustration-container {
		width: 80%;
		margin: 0 auto 20px;
	}

	img {
		max-width: 100%;
		display: block;
	}

	h2 {
		color: $color-body-dark;
		font-size: 24px;
	}

	p {
		font-size: 14px;

		+ p {
			margin-top: 8px;
		}

		strong {
			color: $color-body-dark;
		}

		a {
			text-decoration: underline;
			color: $color-primary;
		}
	}

	.support-info-container {
		border-top: 1px solid $color-border;
		margin-top: 12px;
		padding-top: 16px;

		p {
			margin-top: 12px;
		}

		ul {
			font-size: 0;
			margin-top: 4px;

			li {
				display: inline-block;
				width: 50%;
				font-size: 14px;

				a {
					color: $color-body-dark;
					font-family: $font-primary-en;

					&:before {
						content: "\E811";
						font-family: wadicons;
						margin-right: 6px;
					}

					&.number:before {
						content: "\E801";
					}
				}
			}
		}
	}

	.success-page-banner {
		margin: 20px auto;
	}
}


id-document-upload-element {
	background-color: $color-bg-tertiary;
	border-top: 1px solid $color-border;
	margin: 20px -15px 20px;
	padding: 12px 15px 20px;

	h3 {
		color: $color-body-dark;
		font-size: 16px;
		margin-bottom: 6px;

		i {
			margin-right: 6px;
		}
	}

	.file-upload-area {
		border-top: 1px dotted $color-border;
		margin-top: 12px;
		padding-top: 16px;
		text-align: center;

		p {
			text-align: left;
		}

		p + p {
			margin-top: 0 !important;
		}

		input[type=file] {
			@include mx-visually-hidden;
		}

		.upload-label {
			line-height: 36px;
			margin-bottom: 12px;
		}
	}

	.markdown-html {
		border-top: 1px solid #E7E7E8;
		margin-top: 12px;
		padding-top: 12px;

		strong {
			color: $color-bg-alt;
		}
	}
}

.ar id-document-upload-element {
	h3 {
		i {
			margin-left: 6px;
			margin-right: 0;
		}
	}

	.file-upload-area {
		p {
			text-align: right;
		}
	}
}

.cardlogo {
	width: 100% !important;
}
.checkmark{

}
